body {
    background-image: url(https://png.pngtree.com/thumb_back/fh260/background/20190223/ourmid/pngtree-pure-color-watercolor-graffiti-gradient-background-board-design-board-design-image_66713.jpg);
}

img {
    width: 250px;
    height: 250px;
    border-color: rgb(22, 37, 22);
    border-width: 5px;
    border-style: solid;
    border-radius: 50%;
}

#welcome {
    font-family: 'Trebuchet MS';
}

#userName {
    color: aqua;
}

p {
    padding: 10px;
    background-color: burlywood;
    font-family: cursive;
    width: 500px;
    text-align: justify;
}

main {
    /* display: flex; */
}